# Node modules
node_modules/

# Logs
logs/
*.log

# Environment variables
.env

# OS-specific files
.DS_Store
Thumbs.db

# IDE-specific files
.vscode/
.idea/

# Temporary files
*.tmp
*.swp

# Build files
dist/
build/

# Coverage reports
coverage/

# Cache files
.cache/

# Visual Studio folder
.vs/